<ion-header>
  <ion-toolbar>
    <ion-title>
      Calcular Perimetro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select placeholder="Figura Geométrica" [(ngModel)]="selectedShape">
    <ion-select-option value="circulo">Círculo</ion-select-option>
    <ion-select-option value="triangulo">Triángulo</ion-select-option>
  </ion-select>

  <ng-container *ngIf="selectedShape === 'circulo'">
    <app-circulo></app-circulo>
  </ng-container>
  <ng-container *ngIf="selectedShape === 'triangulo'">
    <app-triangulo></app-triangulo>
  </ng-container>
</ion-content>
